<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe-form-area">
                        <form action="#" method="get" class="subscribe-form">
                            <div class="input-field text">
                                <span class="icon icon-User input-icon"></span>
                                <input type="text" name="name" placeholder="Jhon Doe">
                            </div>
                            <div class="input-field email">
                                <span class="icon icon-Mail input-icon"></span>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <input type="submit" value="Subscribe Now">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="footer-nav">
                        <nav>
                            <ul class="inline-list">
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">FASHION</a></li>
                                <li><a href="#">BUSINESS</a></li>
                                <li><a href="#">SPORTS</a></li>
                                <li><a href="#">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="footer-logo text-center">
                        <img src="{{ asset('bundles/chaoscompanyblog/images/misc/1.png') }}" alt="img" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-3 col-sm-12">
                    <ul class="social-solid footer-social inline-list">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <i class="fa fa-angle-double-up goto-btn" aria-hidden="true"></i>
    </div><!-- /.footer-top -->
    <div class="footer-bottom">
        <div class="continer">
            <div class="text-center copy-right-text">
                <span>Copyright © 2016,<a href="#">Theme_Express</a>  All Rights Reseved.</span>
            </div>
        </div>
    </div>
</footer>